.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.space-around{
    justify-content: space-between;
}

.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight: bolder;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.carousel-container {
  position: relative;
  overflow: hidden;
  width: 97vw;
  margin: 20px auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
}

.carousel-slide .itemImg {
  width: 15%;
  height: auto;
  margin: 4px;
}

.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.carousel-dots .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dots .dot.active {
  background-color: #717171;
}

